
.icon-plus:before { content: '\e800'; } /* '' */
.icon-help-circled:before { content: '\e801'; } /* '' */
.icon-info-circled:before { content: '\e802'; } /* '' */
.icon-lock:before { content: '\e803'; } /* '' */
.icon-lock-open:before { content: '\e804'; } /* '' */
.icon-ok:before { content: '\e805'; } /* '' */
.icon-forward:before { content: '\e806'; } /* '' */
.icon-download:before { content: '\e807'; } /* '' */
.icon-upload:before { content: '\e808'; } /* '' */
.icon-comment:before { content: '\e809'; } /* '' */
.icon-chat:before { content: '\e80a'; } /* '' */
.icon-attention:before { content: '\e80b'; } /* '' */
.icon-attention-circled:before { content: '\e80c'; } /* '' */
.icon-location:before { content: '\e80d'; } /* '' */
.icon-cog:before { content: '\e80e'; } /* '' */
.icon-emo-cry:before { content: '\e80f'; } /* '' */
.icon-cog-alt:before { content: '\e810'; } /* '' */
.icon-wrench:before { content: '\e811'; } /* '' */
.icon-play:before { content: '\e812'; } /* '' */
.icon-pause:before { content: '\e813'; } /* '' */
.icon-stop:before { content: '\e814'; } /* '' */
.icon-home:before { content: '\e815'; } /* '' */
.icon-off:before { content: '\e816'; } /* '' */
.icon-user:before { content: '\e817'; } /* '' */
.icon-users:before { content: '\e818'; } /* '' */
.icon-pencil:before { content: '\e819'; } /* '' */
.icon-floppy:before { content: '\e81a'; } /* '' */
.icon-arrows-cw:before { content: '\e81b'; } /* '' */
.icon-camera-alt:before { content: '\e81c'; } /* '' */
.icon-gift:before { content: '\e81d'; } /* '' */
.icon-retweet:before { content: '\e81e'; } /* '' */
.icon-edit:before { content: '\e81f'; } /* '' */
.icon-cancel:before { content: '\e820'; } /* '' */
.icon-minus:before { content: '\e821'; } /* '' */
.icon-export:before { content: '\e822'; } /* '' */
.icon-spin4:before { content: '\e834'; } /* '' */
.icon-spin6:before { content: '\e839'; } /* '' */
.icon-docs:before { content: '\f0c5'; } /* '' */
.icon-download-cloud:before { content: '\f0ed'; } /* '' */
.icon-upload-cloud:before { content: '\f0ee'; } /* '' */
.icon-spinner:before { content: '\f110'; } /* '' */
.icon-reply:before { content: '\f112'; } /* '' */
.icon-reply-all:before { content: '\f122'; } /* '' */
.icon-info:before { content: '\f129'; } /* '' */
.icon-pencil-squared:before { content: '\f14b'; } /* '' */
.icon-export-alt:before { content: '\f14d'; } /* '' */
.icon-youtube:before { content: '\f167'; } /* '' */
.icon-dropbox:before { content: '\f16b'; } /* '' */
.icon-cubes:before { content: '\f1b3'; } /* '' */
.icon-database:before { content: '\f1c0'; } /* '' */
.icon-trash:before { content: '\f1f8'; } /* '' */
.icon-user-plus:before { content: '\f234'; } /* '' */
.icon-user-times:before { content: '\f235'; } /* '' */
.icon-expeditedssl:before { content: '\f23e'; } /* '' */
.icon-shopping-basket:before { content: '\f291'; } /* '' */
.icon-user-circle-o:before { content: '\f2be'; } /* '' */
.icon-id-card-o:before { content: '\f2c3'; } /* '' */