
.icon-plus:before { content: '\e800'; } /* '' */
.icon-help-circled:before { content: '\e801'; } /* '' */
.icon-info-circled:before { content: '\e802'; } /* '' */
.icon-lock:before { content: '\e803'; } /* '' */
.icon-lock-open:before { content: '\e804'; } /* '' */
.icon-ok:before { content: '\e805'; } /* '' */
.icon-forward:before { content: '\e806'; } /* '' */
.icon-download:before { content: '\e807'; } /* '' */
.icon-upload:before { content: '\e808'; } /* '' */
.icon-comment:before { content: '\e809'; } /* '' */
.icon-chat:before { content: '\e80a'; } /* '' */
.icon-attention:before { content: '\e80b'; } /* '' */
.icon-attention-circled:before { content: '\e80c'; } /* '' */
.icon-location:before { content: '\e80d'; } /* '' */
.icon-cog:before { content: '\e80e'; } /* '' */
.icon-emo-cry:before { content: '\e80f'; } /* '' */
.icon-cog-alt:before { content: '\e810'; } /* '' */
.icon-wrench:before { content: '\e811'; } /* '' */
.icon-play:before { content: '\e812'; } /* '' */
.icon-pause:before { content: '\e813'; } /* '' */
.icon-stop:before { content: '\e814'; } /* '' */
.icon-home:before { content: '\e815'; } /* '' */
.icon-off:before { content: '\e816'; } /* '' */
.icon-user:before { content: '\e817'; } /* '' */
.icon-users:before { content: '\e818'; } /* '' */
.icon-pencil:before { content: '\e819'; } /* '' */
.icon-floppy:before { content: '\e81a'; } /* '' */
.icon-arrows-cw:before { content: '\e81b'; } /* '' */
.icon-camera-alt:before { content: '\e81c'; } /* '' */
.icon-gift:before { content: '\e81d'; } /* '' */
.icon-retweet:before { content: '\e81e'; } /* '' */
.icon-edit:before { content: '\e81f'; } /* '' */
.icon-cancel:before { content: '\e820'; } /* '' */
.icon-minus:before { content: '\e821'; } /* '' */
.icon-export:before { content: '\e822'; } /* '' */
.icon-heart:before { content: '\e823'; } /* '' */
.icon-star:before { content: '\e824'; } /* '' */
.icon-th-list:before { content: '\e825'; } /* '' */
.icon-th-large:before { content: '\e826'; } /* '' */
.icon-th:before { content: '\e827'; } /* '' */
.icon-mail:before { content: '\e828'; } /* '' */
.icon-picture:before { content: '\e829'; } /* '' */
.icon-link:before { content: '\e82a'; } /* '' */
.icon-attach:before { content: '\e82b'; } /* '' */
.icon-eye:before { content: '\e82c'; } /* '' */
.icon-eye-off:before { content: '\e82d'; } /* '' */
.icon-tag:before { content: '\e82e'; } /* '' */
.icon-tags:before { content: '\e82f'; } /* '' */
.icon-flag:before { content: '\e830'; } /* '' */
.icon-thumbs-up:before { content: '\e831'; } /* '' */
.icon-thumbs-down:before { content: '\e832'; } /* '' */
.icon-print:before { content: '\e833'; } /* '' */
.icon-spin4:before { content: '\e834'; } /* '' */
.icon-trash-empty:before { content: '\e835'; } /* '' */
.icon-doc:before { content: '\e836'; } /* '' */
.icon-calendar:before { content: '\e837'; } /* '' */
.icon-chart-bar:before { content: '\e838'; } /* '' */
.icon-spin6:before { content: '\e839'; } /* '' */
.icon-list-alt:before { content: '\e83a'; } /* '' */
.icon-basket:before { content: '\e83b'; } /* '' */
.icon-globe:before { content: '\e83c'; } /* '' */
.icon-inbox:before { content: '\e83d'; } /* '' */
.icon-cloud:before { content: '\e83e'; } /* '' */
.icon-umbrella:before { content: '\e83f'; } /* '' */
.icon-flash:before { content: '\e840'; } /* '' */
.icon-briefcase:before { content: '\e841'; } /* '' */
.icon-key:before { content: '\e842'; } /* '' */
.icon-credit-card:before { content: '\e843'; } /* '' */
.icon-road:before { content: '\e844'; } /* '' */
.icon-calendar-1:before { content: '\e845'; } /* '' */
.icon-database-1:before { content: '\e846'; } /* '' */
.icon-clipboard:before { content: '\e847'; } /* '' */
.icon-clipboard-1:before { content: '\e848'; } /* '' */
.icon-buffer:before { content: '\e849'; } /* '' */
.icon-link-ext:before { content: '\f08e'; } /* '' */
.icon-hdd:before { content: '\f0a0'; } /* '' */
.icon-tasks:before { content: '\f0ae'; } /* '' */
.icon-resize-full-alt:before { content: '\f0b2'; } /* '' */
.icon-docs:before { content: '\f0c5'; } /* '' */
.icon-money:before { content: '\f0d6'; } /* '' */
.icon-mail-alt:before { content: '\f0e0'; } /* '' */
.icon-gauge:before { content: '\f0e4'; } /* '' */
.icon-chat-empty:before { content: '\f0e6'; } /* '' */
.icon-sitemap:before { content: '\f0e8'; } /* '' */
.icon-lightbulb:before { content: '\f0eb'; } /* '' */
.icon-download-cloud:before { content: '\f0ed'; } /* '' */
.icon-upload-cloud:before { content: '\f0ee'; } /* '' */
.icon-user-md:before { content: '\f0f0'; } /* '' */
.icon-doc-text:before { content: '\f0f6'; } /* '' */
.icon-building:before { content: '\f0f7'; } /* '' */
.icon-desktop:before { content: '\f108'; } /* '' */
.icon-laptop:before { content: '\f109'; } /* '' */
.icon-tablet:before { content: '\f10a'; } /* '' */
.icon-mobile:before { content: '\f10b'; } /* '' */
.icon-spinner:before { content: '\f110'; } /* '' */
.icon-reply:before { content: '\f112'; } /* '' */
.icon-folder-empty:before { content: '\f114'; } /* '' */
.icon-folder-open-empty:before { content: '\f115'; } /* '' */
.icon-flag-checkered:before { content: '\f11e'; } /* '' */
.icon-reply-all:before { content: '\f122'; } /* '' */
.icon-fork:before { content: '\f126'; } /* '' */
.icon-unlink:before { content: '\f127'; } /* '' */
.icon-info:before { content: '\f129'; } /* '' */
.icon-puzzle:before { content: '\f12e'; } /* '' */
.icon-calendar-empty:before { content: '\f133'; } /* '' */
.icon-anchor:before { content: '\f13d'; } /* '' */
.icon-ok-squared:before { content: '\f14a'; } /* '' */
.icon-pencil-squared:before { content: '\f14b'; } /* '' */
.icon-export-alt:before { content: '\f14d'; } /* '' */
.icon-thumbs-up-alt:before { content: '\f164'; } /* '' */
.icon-thumbs-down-alt:before { content: '\f165'; } /* '' */
.icon-youtube:before { content: '\f167'; } /* '' */
.icon-dropbox:before { content: '\f16b'; } /* '' */
.icon-apple:before { content: '\f179'; } /* '' */
.icon-android:before { content: '\f17b'; } /* '' */
.icon-sun:before { content: '\f185'; } /* '' */
.icon-box:before { content: '\f187'; } /* '' */
.icon-fax:before { content: '\f1ac'; } /* '' */
.icon-cube:before { content: '\f1b2'; } /* '' */
.icon-cubes:before { content: '\f1b3'; } /* '' */
.icon-recycle:before { content: '\f1b8'; } /* '' */
.icon-database:before { content: '\f1c0'; } /* '' */
.icon-codeopen:before { content: '\f1cb'; } /* '' */
.icon-sliders:before { content: '\f1de'; } /* '' */
.icon-bomb:before { content: '\f1e2'; } /* '' */
.icon-plug:before { content: '\f1e6'; } /* '' */
.icon-newspaper:before { content: '\f1ea'; } /* '' */
.icon-cc-visa:before { content: '\f1f0'; } /* '' */
.icon-cc-mastercard:before { content: '\f1f1'; } /* '' */
.icon-cc-paypal:before { content: '\f1f4'; } /* '' */
.icon-trash:before { content: '\f1f8'; } /* '' */
.icon-chart-area:before { content: '\f1fe'; } /* '' */
.icon-chart-pie:before { content: '\f200'; } /* '' */
.icon-chart-line:before { content: '\f201'; } /* '' */
.icon-toggle-off:before { content: '\f204'; } /* '' */
.icon-toggle-on:before { content: '\f205'; } /* '' */
.icon-cc:before { content: '\f20a'; } /* '' */
.icon-diamond:before { content: '\f219'; } /* '' */
.icon-user-secret:before { content: '\f21b'; } /* '' */
.icon-server:before { content: '\f233'; } /* '' */
.icon-user-plus:before { content: '\f234'; } /* '' */
.icon-user-times:before { content: '\f235'; } /* '' */
.icon-expeditedssl:before { content: '\f23e'; } /* '' */
.icon-object-group:before { content: '\f247'; } /* '' */
.icon-object-ungroup:before { content: '\f248'; } /* '' */
.icon-sticky-note:before { content: '\f249'; } /* '' */
.icon-clone:before { content: '\f24d'; } /* '' */
.icon-television:before { content: '\f26c'; } /* '' */
.icon-map-signs:before { content: '\f277'; } /* '' */
.icon-shopping-basket:before { content: '\f291'; } /* '' */
.icon-wpforms:before { content: '\f298'; } /* '' */
.icon-handshake-o:before { content: '\f2b5'; } /* '' */
.icon-envelope-open:before { content: '\f2b6'; } /* '' */
.icon-envelope-open-o:before { content: '\f2b7'; } /* '' */
.icon-address-card-o:before { content: '\f2bc'; } /* '' */
.icon-user-circle-o:before { content: '\f2be'; } /* '' */
.icon-id-badge:before { content: '\f2c1'; } /* '' */
.icon-id-card-o:before { content: '\f2c3'; } /* '' */