[program:ws]
environment=PATH="/bin:/sbin:/usr/bin:/usr/sbin:/usr/local/bin:/usr/local/sbin"
command=/root/bin/ws
directory=/root/bin
numprocs=1
numprocs_start=1
autostart=true
autorestart=true
user=www
stdout_logfile=/var/log/supervisor/ws-srv.log
stderr_logfile=/var/log/supervisor/ws-srv.err
stdout_logfile_maxbytes=2MB
stdout_logfile_backups=5
stderr_logfile_maxbytes=2MB
stderr_logfile_backups=5

