[unix_http_server]
file=/var/run/supervisor.sock
chmod=0777
chown=nobody:nobody

[supervisorctl]
serverurl=unix:///var/run/supervisor.sock

[supervisord]
logfile=/var/log/supervisor/supervisord.log
pidfile=/var/run/supervisor/supervisord.pid
nodaemon=false
minfds=1024
minprocs=200
umask=022
strip_ansi=false

[rpcinterface:supervisor]
supervisor.rpcinterface_factory = supervisor.rpcinterface:make_main_rpcinterface

[include]
files=/usr/local/etc/supervisor.d/*.conf
